*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-areas: 
    "nav"
    "sort"
    "main"
    "footer";
background-color: #d1c5cf;
grid-template-columns: 1fr;
grid-template-rows: 60px 60px 1fr 60px;
min-height: 100dvh;
}
/* Inicia Nav */
.brand{
    display: flex;
}

.brand img{
    width: 70px;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: #f89dea;
    align-items: center;
}
/* Final Nav */
/* Inicia Sort */

.sort{
    grid-area: sort;
    margin: auto;
    width: 80%;
    text-align: center;
}

.sort select{
    width: 40%;
    font-size: 16px;
    padding: 4px;
    font-weight: bold;
    background-color: #e9dce7;
    border-radius: 10px;
}


/* Final Sort */

/* Inicia Main */

.main{
    grid-area: main;
    padding: 20px 30px;
}

.card{
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    gap: 6px;
    padding-bottom: 6px;
    box-shadow: 1px 1px 10px rgba(0,0,0, 0.3);
    margin-bottom: 18px;
}

.card button{
    padding: 6px 8px;
    background-color: #f89dea;
    border: 1px solid #605858;
    color: #696060;
    border-radius: 8px;
}

.card img{
    width: 100%;
    object-fit: cover;
}

.paginacion{
    position: fixed;
    bottom: 80px;
    right: 40%;
}

.paginacion ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.paginacion li a{
    background-color: #f3f3f3;
    padding: 8px 10px;
    border: 1px solid #dee2e6;
    margin-left: -1px;
}

.paginacion li a:hover{
    background-color: #dee2e6;
}

/* Final Main */
/* Inicia Footer */

.footer{
    grid-area: footer;
    background-color: #d385c8;
    text-align: center;
    padding-top: 8px;
}

.social{
    padding: 4px;
}

/* Final Footer */
/* Inicia Media queries */